@import "./../../common/colors";

.house {
  display: flex;
  flex: 1;
  flex-direction: column;
  text-align: center;

  > div:first-child {
    flex-grow: 1;
  }

  > div:nth-child(2) {
    flex-grow: 2;
  }

  > div:nth-child(3) {
    flex-grow: 3;
  }
}

.home-name {
  font-size: 64px;
  margin-bottom: 16px;
}

.current-temperature {
  align-items: center;
  display: flex;
  justify-content: center;
  margin-bottom: 16px;

  span:first-of-type, span:nth-of-type(3) {
    font-size: 48px;
  }

  span:nth-of-type(2) {
    font-size: 20px;
  }
}

.home-not-found {
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 100%;

  & > span {
    font-size: 24px;
    margin-bottom: 16px;
  }
}

.go-back-button {
  background-color: $sunny-yellow;
  cursor: pointer;
  color: black;
  padding: 8px 32px;
  text-decoration: none;

  &:hover {
    background-color: $turquoise;
  }
}